# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\loumi\OneDrive - Aix-Marseille Université\Bureau\Master 1\Semestre2\Aspect Probabilistiques\TP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
